aiofiles==0.5.0; python_version >= "3.6"
aniso8601==7.0.0; python_version >= "3.6"
appdirs==1.4.4; python_version >= "3.6" and python_full_version >= "3.6.1"
argcomplete==1.12.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
async-exit-stack==1.0.1; python_version >= "3.6"
async-generator==1.10; python_version >= "3.6"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==20.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
black==20.8b1; python_version >= "3.6"
bleach==3.2.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
certifi==2020.12.5; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.5.0"
cffi==1.14.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "linux" or sys_platform == "linux" and python_version >= "3.6" and python_full_version >= "3.6.0"
cfgv==3.2.0; python_full_version >= "3.6.1"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.5.0"
click-log==0.3.2
click==7.1.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
colorama==0.4.4
commitizen==2.13.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
cryptography==3.3.1; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "linux" or sys_platform == "linux" and python_version >= "3.6" and python_full_version >= "3.6.0"
decli==0.5.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
dependency-injector==4.12.0
distlib==0.3.1; python_full_version >= "3.6.1"
dnspython==2.1.0; python_version >= "3.6"
docutils==0.16; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
email-validator==1.1.2; python_version >= "3.6"
fastapi==0.63.0; python_version >= "3.6"
filelock==3.0.12; python_full_version >= "3.6.1"
gitdb==4.0.5; python_version >= "3.4"
gitpython==3.1.12; python_version >= "3.4"
graphene==2.1.8; python_version >= "3.6"
graphql-core==2.3.2; python_version >= "3.6"
graphql-relay==2.0.1; python_version >= "3.6"
h11==0.12.0; python_version >= "3.6"
httptools==0.1.1
identify==1.5.13; python_full_version >= "3.6.1"
idna==2.10; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.5.0"
iniconfig==1.1.1; python_version >= "3.6"
invoke==1.5.0
isort==5.7.0; python_version >= "3.6" and python_version < "4.0"
itsdangerous==1.1.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.4.0"
jeepney==0.6.0; sys_platform == "linux" and python_version >= "3.6"
jinja2==2.11.2; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
keyring==21.8.0; python_version >= "3.6"
markupsafe==1.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.5.0"
mypy-extensions==0.4.3; python_version >= "3.6"
nodeenv==1.5.0; python_full_version >= "3.6.1"
orjson==3.4.7; python_version >= "3.6"
packaging==20.8; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
pathspec==0.8.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pkginfo==1.7.0; python_version >= "3.6"
pluggy==0.13.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pre-commit==2.9.3; python_full_version >= "3.6.1"
promise==2.3; python_version >= "3.6"
prompt-toolkit==3.0.10; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "linux" or sys_platform == "linux" and python_version >= "3.6" and python_full_version >= "3.6.0"
pydantic==1.7.3; python_version >= "3.6"
pygments==2.7.4; python_version >= "3.6"
pyparsing==2.4.7; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pytest==6.2.1; python_version >= "3.6"
python-dotenv==0.15.0
python-gitlab==1.15.0
python-multipart==0.0.5; python_version >= "3.6"
python-semantic-release==7.11.0
pywin32-ctypes==0.2.0; sys_platform == "win32" and python_version >= "3.6"
pyyaml==5.3.1
questionary==1.6.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
readme-renderer==28.0; python_version >= "3.6"
regex==2020.11.13; python_version >= "3.6"
requests-toolbelt==0.9.1; python_version >= "3.6"
requests==2.25.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.5.0"
rfc3986==1.4.0; python_version >= "3.6"
rx==1.6.1; python_version >= "3.6"
secretstorage==3.3.0; sys_platform == "linux" and python_version >= "3.6"
semver==2.13.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
six==1.15.0; python_version >= "3.6" and python_full_version >= "3.6.1" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.3.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6") and (python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "linux" or sys_platform == "linux" and python_version >= "3.6" and python_full_version >= "3.6.0")
smmap==3.0.4; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.4"
starlette==0.13.6; python_version >= "3.6"
termcolor==1.1.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
toml==0.10.2; python_full_version >= "3.6.1" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6")
tomlkit==0.7.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
tqdm==4.56.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
twine==3.3.0; python_version >= "3.6"
typed-ast==1.4.2; python_version >= "3.6"
typing-extensions==3.7.4.3; python_version >= "3.6"
ujson==3.2.0; python_version >= "3.6"
urllib3==1.26.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6"
uvicorn==0.13.3; python_version >= "3.6"
uvloop==0.14.0
virtualenv==20.3.1; python_full_version >= "3.6.1"
watchgod==0.6
wcwidth==0.2.5; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
webencodings==0.5.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
websockets==8.1
